%ul.nav.pull-right
  - unless admin_signed_in?
    %li.divider-vertical
    %li= link_to content_tag(:i, '', class: 'icon-off') + "Sign in with google", admin_omniauth_authorize_path(:google_oauth2)
  - else
    %li
      %a
        Welcome 
        = current_admin.name
    %li= link_to 'Sign out', destroy_admin_session_path, method: :delete
